body {
  background: linear-gradient(rgb(87, 87, 221), pink);
}

h1 {
  color: white;
  text-align: center;
  font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}
img {
  border-radius: 50%;
}
